<div class="row g-0 mat-elevation-z6 topBar">
    <div class="col py-2 px-3">
        <a class="" routerLink="" routerLinkActive="active" mat-raised-button color="accent">
            <img src="../../assets/img/angular_whiteTransparent_min.png" alt="">
            AngularCMS
        </a>
    </div>
    <div *ngIf="authService.userLoggedIn | async" class="col d-flex">
        <div class="ms-auto menuBarContainer px-3">
            <div class="menuRoll px-4 d-flex justify-content-center align-items-center">
                Hi!<a mat-mini-fab color="primary" class="ms-2 me-4">{{(authService.userLoggedIn | async).email[0] | uppercase}}</a>
                <div [@menuDropDown] *ngIf="isMenuDroppedDown" class="menuDroppedBox px-3 pb-3" >
                    <div class="menuContainer mx-auto mat-elevation-z8">
                        <div class="menuItem text-center py-2">
                            <a routerLink="/add-new-post" routerLinkActive="active" mat-raised-button>Add new post</a>
                        </div>
                        <div class="menuItem text-center py-2">
                            <button mat-raised-button>#Future</button>
                        </div>
                        <div class="menuItem text-center py-2">
                            <button mat-raised-button>#Things</button>
                        </div>
                        <div class="menuItem text-center py-2">
                            <button mat-raised-button>#To</button>
                        </div>
                        <div class="menuItem text-center py-2">
                            <button mat-raised-button>#Add</button>
                        </div>
                        <div class="menuItem text-center py-2" [class.alternate-button]="isMenuDroppedDown">
                            <button mat-raised-button (click)="logout()">Logout</button>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="mat-elevation-z2 menuDropDownButton" mat-icon-button (click)="menuToggle()">
                        <mat-icon class="menuDropDownIcon"color="primary" aria-hidden="false" aria-label="Show more icon">
                            more_vert
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>