<div class="row g-0 justify-content-center">
    <div class="col-6">
        <div class="row g-0">
            <div class="col text-center">
                <p>Dodawanie nowego postu</p>
            </div>
            <div class="w-100"></div>
            <form (ngSubmit)="onSubmit()">
                <div class="col-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Tytuł postu</mat-label>
                        <input matInput [formControl]="postTitle" autocomplete="off">
                        <mat-error *ngIf="postTitle.invalid">{{getErrorMessage(postTitle)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <mat-form-field appearance="standard">
                        <mat-label>Treść postu</mat-label>
                        <textarea matInput [formControl]="postContent" rows="15"></textarea>
                        <mat-error *ngIf="postContent.invalid">{{getErrorMessage(postContent)}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    url: {{downloadURL | async}}<br/>
                    Dodaj zdjęcie (1920x1080px)
                    <div class="upload-box">
                        <div class="drop-zone" appDragndrop (fileDropped)="onFileDropped($event)">
                            <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)">
                            <div class="upload-icon-box">
                                <mat-icon inline matSuffix aria-hidden="false" aria-label="Example file upload icon">file_upload</mat-icon>
                            </div>
                            <h3>Drag and drop file here</h3>
                            <h3>or</h3>
                        </div>
                        <div class="upload-button-box">
                            <button type="button" mat-raised-button>
                                <label for="fileDropRef" class="">
                                    Browse for file
                                </label>
                            </button>
                        </div>
                    </div>
                    <div class="files-list">
                        <div class="file-box" *ngFor="let file of files;">
                            <mat-icon inline matSuffix aria-hidden="false" aria-label="Example plus sign icon">add_circle_outline</mat-icon>
                            <div class="file-name">
                                {{ file.name }}
                            </div>
                            <div class="file-size">
                                {{ formatBytes(file?.size) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col my-3 text-end">
                    <button type="submit" mat-raised-button>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
