.comments {
    color: #343a40;
    background-color: #ddd;
}
textarea {
    height: 100px;
    font-size: 20px;
}
h1 {
    font-weight: 400;
    font-size: 30px;
}
h2 {
    font-weight: 400;
    a {
        color: #3490dc;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}